<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JS Serial Plotter</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/styles/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
  </head>
  <body>
    <header>
      <h1>JS Serial Plotter</h1>
    </header>
    <div class="container">
      <form id="startmenu" action="/" method="post">
        <label for="port">verf. Ports: </label>
        <div id="port_parent">
          <select class="browser-default" id="port" name="port">
            <option value="" disabled selected>Wähle einen Port</option>
            <% Ports.forEach( function(port){ %>
            <option value="<%= port %>"><%= port %></option>
            <% }); %>
          </select>
          <input type="button" id="refresh" class="control" value="↻" />
        </div>
        <label for="baud">BAUD-Rate</label>
        <select class="browser-default" id="baud" name="baud">
          <option value="" disabled selected>Wähle eine BAUD-Rate</option>
          <option value="9600">9600</option>
          <option value="19200">19200</option>
          <option value="57600">57600</option>
          <option value="115200">115200</option>
          <option value="230400">230400</option>
          <option value="500000">500k</option>
          <option value="1000000">1M</option>
        </select>
        <label for="display">Darstellungsart</label>
        <select name="display" id="display" class="browser-default">
          <option disabled selected>Wähle eine Darstellungsart</option>
          <option value="graph">Graph</option>
          <option value="console">Konsole</option>
        </select>
        <br />
        <input type="submit" value="verbinden" />
      </form>
    </div>
    <script>
      let refreshBtn = document.getElementById("refresh");
      let portsSlct = document.getElementById("port");

      let socket = io(window.location.origin);

      socket.on("ports", (data) => {
        portsSlct.innerHTML = `<option value="" disabled selected>Wähle einen Port</option>`;
        if (data.ports) {
          data.ports.forEach((element) => {
            portsSlct.innerHTML += `<option value="${element}">${element}</option>`;
          });
        }
      });

      refreshBtn.addEventListener("click", () => {
        socket.emit("ports", {});
      });
    </script>
  </body>
</html>
